<!-- About Section Start -->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
                    <img class="img-fluid" src="../../assets/img/about/about-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s" *ngFor="let curriculum of curriculums; let i = index">
                    <h3>{{curriculum.infoPerso.titre }}</h3>
                    <p>{{curriculum.infoPerso.desc }}</p>
                    <div class="about-profile">
                        <ul class="admin-profile">
                            <li><span class="pro-title"> Name </span> <span class="pro-detail"><span>{{curriculum.nom }}</span> {{curriculum.prenom}}</span>
                            </li>
                            <li><span class="pro-title"> Age </span> <span class="pro-detail">{{curriculum.infoPerso.age }} Years</span></li>
                            <li><span class="pro-title"> Experience </span> <span class="pro-detail">{{curriculum.infoPerso.experience }} Years</span></li>
                            <li><span class="pro-title"> Country </span> <span class="pro-detail">{{curriculum.infoPerso.pays }}</span></li>
                            <li><span class="pro-title"> Location </span> <span class="pro-detail">{{curriculum.infoPerso.ville }}</span></li>
                            <li><span class="pro-title"> e-mail </span> <span class="pro-detail">{{curriculum.infoPerso.email }}</span></li>
                            <li><span class="pro-title"> Phone </span> <span class="pro-detail">{{curriculum.infoPerso.tel }}</span></li>
                            <li><span class="pro-title"> Freelance </span> <span class="pro-detail">{{curriculum.infoPerso.freelance }}</span></li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
                    <a routerLink="/contact" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->